body{
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

.imagem-carrossel-um {
  height: 520px;
  object-fit: cover;
  object-position: 0 90%;
}
.imagem-carrossel-dois {
  height: 520px;
  object-fit: cover;
  object-position: 0 10%;
}
.titulo-banner {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

.titulo-conteudo {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;

}

.marca {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}

.sobrelink {
  font-weight: 400;
  color: whitesmoke;
}
.sobrelink:hover {
  color: #FF2F75!important;
  text-decoration: none;
}

.cordestaque-btn:hover {
  background-color: #FF2F75;
  border-color: #FF2F75;
  color: white;
}

.corprincipal-fundo {
  background-color: #373E59;
}

.corprincipal-btn{
  background-color: #373E59;
  border-color: #373E59;
  color: white;
}

.imagem-card {
  object-fit: cover;
  height: 200px;
}

.thumb-redondo {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: 60% 60%;
}
